* {
    box-sizing: border-box;
}

body {
    margin: auto;
    background-color: rgba(253, 228, 250, 0.884);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 15px;
    padding-inline: 20px;
    background-color: white;
}

#menu-bar {
    height: 50px;
    width: 50px;
    border-bottom: 10px;
    background-color: burlywood;
}

#language {
    height: 50px;
    width: 50px;
    border-bottom: 10px;
    background-color: royalblue;
}

#logo {
    height: 50px;
    width: 150px;
    border-bottom: 10px;
    background-color: black;
    color: white;
    text-align: center;
}

#search {
    padding-inline: 20px;
    padding-block: 10px;
    width: 300px;
    border-radius: 20px;
    border: solid 1px black;
}

button {
    padding-inline: 20px;
    padding-block: 10px;
    border: none;
    background-color: orange;
    border-radius: 20px;
}


main {
    padding-block: 20px;
    padding-inline: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    text-align: center;
    color: blue;
}

.container {
    display: flex;
    justify-content: space-evenly;
    width: 1000px;
    gap: 100px;
}